<div class="jumbotron fill">
	<div class = "container fill">
		<h1>Welcome to Tukho's website</h1>
		<p><em>CEO Víctor Sauri - Program Generation </em></p>
		<h2>How can I be helped by Tukho?</h2>
		<h3>A funny new perspective to improve social interactions through a visual tool. At first glance you can preview how many people will be attending an event. And more importantly their mood energy and predisposition to meet somebody. Feeling before hand a pleasant atmosphere.</h3>
		<%= link_to("New user", new_user_path) %>
		<%= link_to("All users", users_path) %>
	</div>
</div>