<h1>Welcome to Tukho's website</h1>
<p>Ironhack - Generation powered</p>
<h2>Copyright Víctor.S</h2>
<h3>A funny new perspective to improve social interactions</h3>
<%= link_to("New user", new_user_path) %>
<%= link_to("All users", users_path) %>